body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}



img {
    max-width: 100px;
    border-radius: 50%;
}

main {
    text-align: center;
}

p {
    margin-bottom: 20px;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:green;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color:rgb(49, 90, 49);
}
.w1{
    text-align: center;
    color: rgb(99, 170, 99);
}
.w2{
    color: green;
    text-decoration: none;
    font-size: medium;
}
.s3{
    
background-color: green;
margin-top: 100px;
}

.#{
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 200vh;
}
.z1{
    border: #983e3e solid 1px;
    text-align: center;
    width: 350px;
    height: 500px;
    margin-top: 100px;
    margin-left: 500px;
    justify-content: center;

}

